# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# Models
Backend/*.joblib
Backend/*model*
Backend/wave_model_new/

# Dataset
Backend/drawings/
Backend/*.zip

# Logs
wandb/
*.log

# System
.DS_Store
.env