# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# Ignore audio models/files
Backend/Audio_*.joblib
Backend/Updated_Audio_model.joblib
Backend/scaler.joblib
Backend/Audio_scaler.joblib
Backend/selector.joblib
Backend/models/
Backend/AudioDataset/
Backend/wandb/
Backend/Parkinsons_decision_tree/
Backend/pd_tree_regularized.dot
wandb/

# Ignore drawing/raw dataset folder, but keep the zip
Backend/drawings/
Backend/trash/

# Ignore other model folders
Backend/spiral_model/
Backend/spiral_model_new/
Backend/wave_model/
Backend/wave_model_new_new/
wave_model_new/

# Keep these zip files in repo
!Backend/AudioDataset.zip
!Backend/drawings.zip

# Logs/system
*.log
*.DS_Store
.env
