<div class="container">

  <div class="row centering" style="padding: 0;margin: 0;justify-content: space-between; text-align: center; overflow: hidden; 
    height: 100vh; ;">
    <div class="col" style="text-align: center; margin-top: 30px; width: auto;">

      <h4 style="color: #3f51b5; font-family: sans-serif; font-size: 52px; font-weight: 700;">Welcome to Parkinson's
        Disease Detector</h4>

      <p style="text-align: justify; margin-top: 30px;"> <br>

        <span style="color: rgb(78, 74, 74); font-size: 20px; line-height: 1.6em;">Parkinson's disease is a progressive
          neurodegenerative disorder
          that affects movement control. It is characterized by the loss of dopamine-producing neurons in the brain,
          leading to symptoms such
          as
          tremors, stiffness, and impaired balance. While the exact cause is unknown, both genetic and environmental
          factors are believed to contribute. Parkinson's primarily affects older individuals, and its symptoms
          gradually
          worsen over time. Although there is no cure, various treatments, including medication and therapy, can help
          manage symptoms and improve quality of life for those affected. </span>
      </p> <br>
      <a class="btn btn-success" href="#detections">Detect</a>
    </div>
    <div class="col" style="margin-top: 5vh;">
      <img src=".././../assets/doctor.jpg" alt=""> <br>
      <p style="font-size: large; margin-top: 10px;">Parkinson's Disease Progressions</p>
    </div>
  </div>
  <div class="row" id="detections"
    style="margin-top: 20px; padding: 0;margin: 0;justify-content: space-between; text-align: center; overflow: hidden; height: 100vh;">
    <div class="col my-auto centering" style="color: #3f51b5; font-size: 30px; padding-right: 20px;">
      Drawing Based Detection
      <br><br>
      <img src="../assets/Jh7m-unscreen (2).gif" width="300px" height="300px" alt=""><br>
      <a class="btn btn-primary" routerLink="/drawing">Detect using Drawing</a>
    </div>
    <div class="col my-auto centering" style="color: #3f51b5; font-size: 30px; padding-right: 20px;">
      Speech Based Detection
      <br><br>
      <img src="../assets/YdBO.gif" width="300px" height="300px" alt=""> <br>
      <a class="btn btn-primary" routerLink="/speech">Detect using Speech</a>
    </div>
    <div class="col my-auto centering" style="color: #3f51b5; font-size: 30px;">
      Multi-Model Detection
      <br><br>
      <img src="../assets/charing_cross_tube_station-removebg-preview.png" width="300px" height="300px" alt=""><br>
      <button type="button" class="btn btn-primary">Detect using Multi-Model</button>
    </div>
  </div>

  <div class="row my-auto centering" id="about" style="margin-top: 20px; padding: 0;margin: 0; text-align: center; overflow: hidden;
     height: 100vh;">
    <p style="color: #3f51b5; font-size: 50px; font-weight: 700; margin-bottom: -200px;">ABOUT</p>
    <div class="col my-auto centering" style="color: rgb(78, 74, 74); font-size: 20px; line-height: 1.6em; text-align: justify;">
      The anticipated outcome of this innovative Parkinson's disease detection project is a robust and reliable system
      capable of accurately diagnosing individuals based on a dual-modal analysis of spiral and wave drawings and
      recorded speech. By harnessing machine learning algorithms, the system aims to discern subtle patterns indicative
      of Parkinson's disease, offering healthcare professionals a comprehensive tool for early and nuanced detection.
      The successful implementation of this system holds the potential to revolutionize Parkinson's disease diagnosis by
      addressing the limitations of existing methods. The dual-model approach, encompassing both drawing and speech
      analysis, is expected to significantly enhance diagnostic accuracy, allowing for more timely interventions and
      personalized treatment plans.

    </div>
    <div class=" col my-auto centering" style="color: black; text-align: center; margin-top: -200px;">
      <img src="../../assets/parkinson progression.jpg" width="550px" height="400px" alt="">
    </div>
  </div>


</div>